@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: 'Roboto';
    margin: 0;
}

.header {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-evenly;   
    padding: 0 10px;
}

ul {
    display: flex;
    list-style: none;
    gap:20px;
}

.hero {

    background-color: #1F2937;
    color: #F9FAF8; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    padding: 60px;
    gap: 50px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-heading {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    width: 500px;
}

.sub-heading {
    font-size: 18px;
    width: 500px;

}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #545557;
    height: 250px;
    flex-basis: 550px;

}

.signup-button1 {
    flex-grow: 0;
    flex-shrink: 0;
    width: 132px;
    font-size: 18px;
    font-weight: bold;
    border:1px solid white;
    padding: 8px 32px;
    border-radius: 10px;  
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.info {
    background-color: white;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;   
  
}

.heading-2 {
    font-size: 36px;
    font-weight: 900;
}

.content {
    font-size: 18px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;   
}


.characters{
    display: flex;
    flex-direction: column;
    align-content: center;

}

.text {
    width: 150px;
    text-align: center;
}

.placeholder2 {
    height: 170px;
    width: 170px;
    background-color: #1F2937;
    display: flex;
}


.signup-button2 {
    border: solid  white;
    background-color: #3882F6;
    border-radius: 10px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #F9FAF8;
    padding: 35px;
}


